# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/

# Environment
.env
.env.local
.env.*.local

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Debug
__debug_bin